<h2>Write a new Tweet</h2>
<form method="POST" action="/tweets/new">
  <input type="text" name="title" id="title", placeholder="title">
  <br>
  <br>
  <textarea name="content" id="content" maxlength="240", placeholder="write here"></textarea><br>
  <input type="submit" value="submit">
</form>
