<h1>Fwitter Sign-up Page</h1>

<p>To sign up, please complete the form below:</p>

<form method="POST" action="/signup">
  <ul>
    <li><input type="text" name="username" id="username", placeholder="username"></li>
    <br>
    <li><input type="text" name="email" id="email", placeholder="email"></li>
    <br>
    <li><input type="text" name="password" id="password", placeholder="password"></li>
  </ul>
  <input type="submit" value="Sign Up">
</form>
