<h2>Welcome to the Log-in Page!</h2>
<p>Type in your username and password:</p>
<form method="POST" action="/login">
  <ul>
    <li><input type="text" name="username" id="username" placeholder="username"></li>
    <br>
    <li><input type="text" name="password" id="password" placeholder="password"></li>
  </ul>
  <input type="submit" value="submit">
</form>
